.btn {
	@include fixed-size(4rem, 4rem);

	outline: none !important;

	border-radius: .7rem;
	border-width: .15rem;
	border-style: solid;

	&--blue {
		background-color: $blue;
		border-color: $blue;
		color: $white;

		margin-left: 1rem;

		@include active-btn($blue);
	}

	&--red {
		background-color: $red;
		border-color: $red;
		color: $white;

		margin-left: 1rem;

		@include active-btn($red);
	}

	&--white {
		background-color: $white;
		border-color: $gray;
		color: $black;

	}

}