.input {

    height: 4rem;
    font-size: 2rem;
    border-radius: .7rem;
    padding-left: 1rem;
    border: .15rem solid #E4E6EA;
    margin: .1rem;
    overflow: hidden;
    color: $f-color-default;

    &__text {
        background-color: #F5F6F8;
        width: auto;
        flex-grow: 1;

        &:focus {
            background-color: #ffffff;
            border-color: #2D8EFF;
        }
    }

    &__date {
        background-color: #F5F6F8;
        min-width: 255.267px;
        width: auto;

        &:focus {
            background-color: #ffffff;
            border-color: #2D8EFF;
        }
    }

    &__submit {
        min-width: 69.2167px;
        width: auto;
        padding: 0 1.2rem;
        background-color: #2D8EFF;
        border-color: #2D8EFF;
        color: #ffffff;
        outline: none !important;

        &:active {
            background-color: darken(#2D8EFF, 20%);
            transform: translateY(.1rem);
        }

        &--finish {
            border: .15rem solid #E4E6EA;
            background-color: #ffffff;
            outline: none !important;
            padding: 0 1.2rem;
            min-width: 69.2167px;


            &:active {
                background-color: #ffffff;
                
                &:after {
                    content: "✓";
                    color: $f-color-default;
                    font-size: 2.2rem;
                }
            }

        }
    }
}