.ipt {
    height: 4rem;
    border-radius: .7rem;
    border: .15rem solid $gray;
    margin: .1rem;
    overflow: hidden;
    color: $f-color-default;

    &__text {
        background-color: $lightgray;
        width: auto;

        margin-left: 0;

        @include text-focus;
    }

    &__date {
        background-color: $lightgray;
        width: auto;
        min-width: 255.267px;   // The minimal width to prevent the x to overlap any test in date input

        @include text-focus;
    }

}