.txt {

    &__task {
        word-break: break-all;
        margin: 0 1rem;
    }

    &__btn {
        margin: 0;
    }

    &__label {
        margin: 0 1rem;
    }

    &__ipt {
        padding-left: 1rem;
    }

    &--default {
        font-size: $f-size-default;
        color: $f-color-default;
    }
    
    &--large {
        font-size: $f-size-l;
    }
}