@mixin text-focus {
	&:focus {
		background-color: $white;
		border-color: $blue;
	}
}

@mixin fixed-size($width, $height) {
	min-width: $width;
	max-width: $width;
	min-height: $height;
	max-height: $height;
}

@mixin active-btn($color) {
	&:active {
		transform: translateY(.2rem);
		background-color: darken($color, 20%);
	}
}