// FONTS
$f-size-s: 1rem;
$f-size-default: 2rem;
$f-size-l: 2.5rem;


// COLORS
$f-color-default: #5A6375;

$blue: #2D8EFF;
$red: #F03229;

$gray: #E4E6EA;
$lightgray: #F5F6F8;

$white: #ffffff;
$black: #000000;